<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "clickerpig2.edu.mit.scratch"
        versionCode = "10" 
        version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

    <name>Clicker Pig 2 Early Acscess</name>

    <description>
        jon
    </description>

    <author href="http://scratch.mit.edu/users/EberleJonathan" email="[eberleproductions@gmail.com]">
        EberleJonathan
    </author>

</widget>
